@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

html,
* {
  cursor: none;
}

body {
  background-color: #F4FAFF;
  margin: 0;
  font-family: Roboto;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  color: #444E56;
}

h2 {
  color: #444E56;
}

h3 {
  color: #444E56;
}

p {
  color: #444E56;
}

ul {
  color: #444E56;
}

.cursor-box {
  position: fixed;
  width: 48px;
  height: 48px;
  pointer-events: none;
  z-index: 999;
}

.cursor {
  display: block;
  position: absolute;
  height: auto;
  width: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  margin: 0px;
  border: 1px solid #6A7B89;
  z-index: 999;
  transition: scale 0.2s, width 0.2s, height 0.2s, margin 0.2s, rotate 0.2s;
}

.cursor-pointer {
  display: block;
  position: absolute;
  height: auto;
  width: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 18px;
  background-color: #6A7B89;
  border-radius: 50%;
  z-index: 999;
  transition: scale 0.2s, width 0.2s, height 0.2s, margin 0.2s, rotate 0.2s;
}

.rotate-1 {
  stroke-width: 2px;
  stroke: #A7BFD3;
  -webkit-animation: rotation 40s infinite linear;
  transition: stroke 0.5s linear;
  -webkit-transition: stroke 0.5s linear;
  -moz-transition: stroke 0.5s linear;
}

.rotate-2 {
  stroke-width: 2px;
  stroke: #A7BFD3;
  -webkit-animation: rotation 50s infinite linear;
  transition: stroke 0.5s linear;
  -webkit-transition: stroke 0.5s linear;
  -moz-transition: stroke 0.5s linear;
}

@-webkit-keyframes rotation {
  to {
    stroke-dashoffset: 1000;
  }
}

.container-horizontal {
  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.container-vertical {
  width: 100%;
  padding: 0 40px 0 40px;
  opacity: 1;
  transition: linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.visual-element-1 {
  position: absolute;
  z-index: -1;
  left: -340px;
  top: 520px;
}

.visual-element-2 {
  position: absolute;
  z-index: -1;
  left: 1275px;
  top: -100px;
}

.main {
  max-width: 640px;
  height: 400px;
  position: relative;
}

.additional {
  width: 467px;
}

.logo {
  width: 32px;
  fill: #A7BFD3;
}

.extras {
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #A7BFD3;
}

.extras p {
  margin: 0;
  line-height: 1;
  color: #A7BFD3;
}

.main img {
  left: 32px;
  top: -140px;
  z-index: -11;
  width: 260px;
  position: absolute;
  opacity: 0.5;
}

.main h1 {
  position: absolute;
  z-index: -10;
  color: white;
  font-family: Roboto;
  left: 104px;
  top: -144px;
  font-weight: 900;
  font-size: 88px;
  margin: 32px 0 0 16px;
}

.main>p:first-of-type {
  font-size: 24px;
  margin: 160px 0 0 16px;
}

.main p {
  font-family: Roboto;
  font-weight: 400;
  margin: 8px 0 0 16px;
  font-size: 18px;
  line-height: 28px;
  max-width: 640px;
}

span {
  font-weight: 900;
}

.links {
  margin: 24px 0 0 64px;
  display: flex;
}

.links a {
  font-weight: 400;
  font-size: 18px;
  color: #444E56;
  width: 90px;
  text-align: center;
}

.links a:hover {
  font-weight: 900;
}

.links a:nth-child(n+2) {
  margin-left: 24px;
}

.additional-section {
  margin-top: 20px;
  display: flex;
  font-weight: 300;
}

.additional-section>p {
  margin: 124px 0 8px 0;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  width: 24px;
  font-size: 14px;
  white-space: nowrap;
  color: #A7BFD3;
}

.accomplishments-info {
  width: 100%;
  height: 100%;
  padding: 0 0 0 40px;
}

.selected-projects-info {
  width: 100%;
  height: 100%;
  padding: 0 0 0 18px;
}

.accomplishments-info:before {
  display: block;
  position: absolute;
  content: '';
  background: #A7BFD3;
  height: 120px;
  width: 1px;
  margin-left: -41px;
}

.selected-projects-info:before {
  display: block;
  position: absolute;
  content: '';
  background: #A7BFD3;
  height: 120px;
  width: 1px;
  margin-left: -19px;
}

.add-first {
  margin: 20px 0 0 0;
}

.isuna .add-title-1 {
  margin: 0 0 0 8px;
}

.hubster .add-title-1 {
  margin: 0px 0 0 4px;
}

.third {
  margin: 16px 0 0 1px;
}

.btwa .add-title-1 {
  margin: 0 0 0 4px;
}

.add-title-1 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 32px;
}

.add-title-1 span {
  font-weight: 900;
  font-size: 12px;
}

.add-title-2 {
  font-family: Roboto;
  font-weight: 400;
  margin: 0 0 0 0;
  font-size: 18px;
}

.a-sub {
  font-family: Roboto;
  font-weight: 300;
  margin: 2px 0 0 0;
  font-size: 14px;
  line-height: 22px;
}

.selected-projects .a-sub {
  margin-left: 22px;
}

.accomplishments {
  margin-top: 96px;
}

.project {
  width: 100%;
  background-color: white;
  position: absolute;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}

.progress-container {
  top: 0;
  width: 100%;
  height: 4px;
  position: sticky;
  z-index: 1;
}

.progress-bar {
  height: 4px;
  width: 0%;
}

.project-header {
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.parallax-box {
  width: 100%;
  max-height: 500px;
  margin-top: 24px;
  margin-bottom: 4px;
  display: flex;
  overflow: hidden;
}

.parallax-box~.parallax-box {
  margin-top: 0;
}

.full-img {
  width: 140%;
  max-width: 2560px;
}

.project-info {
  width: 100%;
  max-width: 1366px;
  height: fit-content;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  z-index: 1;
}

.add-title-1:before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 8px;
  background: white;
  z-index: -1;
  top: 1px;
  left: 0;
  bottom: 1px;
  right: 437px;
  margin-left: -8px;
  transition: right 0.3s;
  transition-timing-function: ease-out;
}

.selected-projects-info div {
  position: relative;
  padding: 8px 0 8px 0;
  margin: 8px 0 0 0;
}

.selected-projects-info div:hover .add-title-1:before {
  right: 0;
}

.add-title-2:before {
  display: block;
  position: absolute;
  content: '';
  background: white;
  z-index: -1;
  top: 1px;
  left: 0;
  bottom: 1px;
  right: 437px;
  margin-left: -32px;
  transition: right 0.3s;
  transition-timing-function: ease-out;
}

.paper-arg {
  padding: 8px 0 8px 0;
  margin: 8px 0 0 0;
  position: relative;
}

/* .paper-arg:hover .add-title-2:before {
  right: 0;
} */
.paper-usa {
  position: relative;
  padding: 8px 0 8px 0;
}

/* .paper-usa:hover .add-title-2:before {
  right: 0;
} */
.book {
  position: relative;
  padding: 8px 0 8px 0;
}

/* .book:hover .add-title-2:before {
  right: 0;
} */
.project-details {
  display: flex;
  flex-direction: column;
  top: 72px;
  height: 0px;
  margin-top: 16px;
  margin-right: 16px;
  float: right;
}

.general-details {
  background-color: #F4FAFF;
  width: 220px;
  padding: 24px;
  border-radius: 8px;
  height: fit-content;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.general-details p {
  margin: 8px 0 0 0;
}

.team-details {
  margin-top: 16px;
  border-radius: 8px;
  width: 220px;
  padding: 24px;
  height: fit-content;
  background-color: #F4FAFF;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.team-member {
  position: relative;
  display: flex;
  margin-top: 8px;
}

.team-member:first-child {
  margin-top: 16px;
}

.team-member img {
  width: 32px;
  border-radius: 200px;
}

.team-member p {
  margin: 4px 0 4px 8px;
}

.team-member-details {
  position: absolute;
  z-index: 9999;
  top: 48px;
  left: -40px;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 4px 12px rgba(167, 191, 211, 0.24);
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.team-member-details:before {
  content: '';
  background-color: white;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  transform: rotate(45deg);
  position: absolute;
  top: -8px;
  left: 38px;
  z-index: -1;
}

.team-member-details:after {
  content: '';
  position: absolute;
  width: 80%;
  height: 100%;
  top: -54px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  z-index: -1;
}

.team-member-details p {
  width: 208px;
  margin: 0;
}

.team-member:hover .team-member-details {
  opacity: 1;
  pointer-events: all;
}

.team-member-details:hover {
  opacity: 1;
  pointer-events: all;
}

.team-member-icon {
  display: block;
  float: left;
  margin-top: 16px;
}

.project-details h3 {
  font-size: 14px;
  font-weight: 900;
  margin: 24px 0 0 0;
}

.project-details h3:first-child {
  margin: 0 0 0 0;
}

.project-details p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.exit {
  z-index: 999;
  width: 24px;
  height: 24px;
  padding: 16px 16px 16px 16px;
  position: fixed;
  top: 72px;
  border-radius: 8px;
  background-color: #F4FAFF;
  stroke: #A7BFD3;
  stroke-width: 2px;
  margin-left: 16px;
}

.exit {
  box-shadow: 0 0 0 1pt white;
}

.summary {
  list-style: none;
  font-size: 16px;
  margin: 0 0 0 0;
  line-height: 28px;
  font-weight: 300;
  position: fixed;
  top: 400px;
  padding: 0;
  float: left;
}

.summary a::before {
  content: "";
  height: 1px;
  background-color: #A7BFD3;
  display: inline-block;
  width: 16px;
  margin-right: 4px;
  margin-bottom: 5px;
  -webkit-transition: width 0.2s ease;
  -moz-transition: width 0.2s ease;
  -ms-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.summary a {
  text-decoration: none;
  color: #A7BFD3;
}

.sub-items {
  font-size: 14px;
}

.sub-items a::before {
  margin-left: 16px;
}

.project-content-container {
  max-width: 672px;
  height: fit-content;
  margin: 0 auto;
}

.project-content-container h1 {
  font-size: 48px;
  margin: 48px 0 0 0;
  font-weight: 900;
}

.project-content-container h1+p {
  font-style: italic;
  color: #8DA9BF;
  margin: 6px 0px 0px 0px;
}

.project-content-container h2 {
  font-size: 24px;
  margin: 48px 0 0 0;
  font-weight: 400;
}

.project-content-container p {
  font-size: 16px;
  margin: 12px 0 0 0;
  line-height: 28px;
  font-weight: 300;
}

.project-content-container:last-child {
  padding-bottom: 64px;
  overflow: hidden;
}

.project-content-container ul {
  list-style: none;
  background-color: #F4FAFF;
  padding-top: 8px;
  padding-bottom: 16px;
  padding-right: 24px;
  border-radius: 8px;
  font-size: 16px;
  margin: 16px 0 0 0;
  line-height: 28px;
  font-weight: 300;
}

.project-content-container ul li {
  margin-top: 8px;
}

.project-content-container ul li::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#key-design, #gameplay, #branding-visual, #playtests {
  font-size: 18px;
}

.thanks {
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 40px;
}

.thanks h1 {
  font-size: 40px;
  padding: 8px 0 0 0;
}

.thanks p:nth-child(2) {
  padding: 0 0 8px 0;
}

.thanks p:nth-child(3) {
  padding: 16px;
  text-align: left;
  background-color: #F4FAFF;
  margin: 0 0 40px 0;
}

.thanks h1, .thanks p:nth-child(2) {
  color: white;
  margin: 0;
}

.other-project {
  background-color: #F4FAFF;
  float: left;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  margin-top: 16px;
  transition: 0.2s ease;
  float: left;
  clear: both;
}

.other-project h2, .other-project p {
  margin: 0;
  transition: 0.2s ease;
}

.other-project:hover h2, .other-project:hover p {
  color: white;
}

.project-img {
  width: 100%;
  display: block;
  margin: 24px auto 24px auto;
  position: relative;
}

.project-img img {
  width: 100%;
}

#isuna-logo {
  height: 100%;
  display: block;
  z-index: 2;
}

#isuna-logo img {
  height: 100%;
}

#hubster-logo {
  height: 20%;
  display: block;
  z-index: 2;
}

#hubster-logo img {
  height: 100%;
}

#btwa-logo {
  height: 60%;
  display: block;
  position: absolute;
  z-index: 2;
}

#btwa-logo img {
  height: 100%;
}

video {
  margin: 0 auto;
  display: block;
}

.overlay {
  position: fixed;
  z-index: 2;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.panel-1 {
  background-color: #A7BFD3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 25%;
  transition: linear;
}

.panel-2 {
  background-color: #A7BFD3;
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 25%;
  transition: linear;
}

.panel-3 {
  background-color: #A7BFD3;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 25%;
  transition: linear;
}

.panel-4 {
  background-color: #A7BFD3;
  position: absolute;
  top: 75%;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 25%;
  transition: linear;
}

.mobile-warning {
  background-color: #F4FAFF;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.mobile-warning h1 {
  margin: 0;
  font-size: 10vw;
}

.mobile-warning p {
  text-align: center;
  padding: 0 24px 0 24px;
  font-size: 6vw;
  line-height: 10vw;
}

.project-isuna {
  display: none;
}

.project-hubster {
  display: none;
}

.project-btwa {
  display: none;
}

/* Isuna project specific colors */
.project-isuna .project-header {
  background-color: #FF708A;
}

.project-isuna .summary a:hover {
  color: #FF708A;
}

.project-isuna .summary a:hover:before {
  background-color: #FF708A;
  width: 32px;
}

.project-isuna .active a {
  color: #FF708A;
}

.project-isuna .active a:before {
  background-color: #FF708A;
  width: 32px;
}

.project-isuna h2 {
  color: #FF708A;
}

.project-isuna .project-details h3 {
  color: #FF708A;
}

.project-isuna .project-details {
  border-color: #FF708A;
}

.project-isuna ul li:before {
  color: #FF708A;
}

.project-isuna span {
  color: #FF708A;
}

.project-isuna .exit:hover {
  background-color: #FF708A;
  stroke: white;
}

.project-isuna .thanks h1, .project-isuna .thanks p:nth-child(2) {
  background-color: #FF708A;
}

.project-isuna .other-project:hover {
  background-color: #FF708A;
}

.project-isuna .progress-bar {
  background-color: #FF708A;
}

/* Hubster project specific colors */
.project-hubster .project-header {
  background-color: #2F373D;
}

.project-hubster .summary a:hover {
  color: #FE844C;
}

.project-hubster .summary a:hover:before {
  background-color: #FE844C;
  width: 32px;
}

.project-hubster .active a {
  color: #FE844C;
}

.project-hubster .active a:before {
  background-color: #FE844C;
  width: 32px;
}

.project-hubster h2 {
  color: #FE844C;
}

.project-hubster .project-details h3 {
  color: #FE844C;
}

.project-hubster .project-details {
  border-color: #FE844C;
}

.project-hubster ul li:before {
  color: #FE844C;
}

.project-hubster span {
  color: #FE844C;
}

.project-hubster .exit:hover {
  background-color: #FE844C;
  stroke: white;
}

.project-hubster .thanks h1, .project-hubster .thanks p:nth-child(2) {
  background-color: #FE844C;
}

.project-hubster .other-project:hover {
  background-color: #FE844C;
}

.project-hubster .progress-bar {
  background-color: #FE844C;
}

/* btwa project specific colors */
.project-btwa .project-header {
  background-color: #FF5D5C;
}

.project-btwa .summary a:hover {
  color: #FF5D5C;
}

.project-btwa .summary a:hover:before {
  background-color: #FF5D5C;
  width: 32px;
}

.project-btwa .active a {
  color: #FF5D5C;
}

.project-btwa .active a:before {
  background-color: #FF5D5C;
  width: 32px;
}

.project-btwa h2 {
  color: #FF5D5C;
}

.project-btwa .project-details h3 {
  color: #FF5D5C;
}

.project-btwa .project-details {
  border-color: #FF5D5C;
}

.project-btwa ul li:before {
  color: #FF5D5C;
}

.project-btwa span {
  color: #FF5D5C;
}

.project-btwa .exit:hover {
  background-color: #FF5D5C;
  stroke: white;
}

.project-btwa .thanks h1, .project-btwa .thanks p:nth-child(2) {
  background-color: #FF5D5C;
}

.project-btwa .other-project:hover {
  background-color: #FF5D5C;
}

.project-btwa .progress-bar {
  background-color: #FF5D5C;
}

@media only screen and (max-width: 1140px) {
  .mobile-warning {
    display: flex;
  }
}

@media not all and (min-resolution:.001dpcm) {
  @media {
    .exit {
      position: fixed;
    }
  }
}
