@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body {
  background-color: #F4FAFF;
  margin: 0;
  font-family: Roboto;
  overflow: hidden;
}

h1 {
  color: #444E56;
}

h2 {
  color: #444E56;
}

h3 {
  color: #444E56;
}

p {
  color: #444E56;
}

ul {
  color: #444E56;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F4FAFF;
}

::-webkit-scrollbar-thumb {
  background: #A7BFD3;
  border-radius: 20px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #444E56;
}

.rotate-1 {
  stroke-width: 2px;
  stroke: #A7BFD3;
  -webkit-animation: rotation 40s infinite linear;
  transition: stroke 0.5s linear;
  -webkit-transition: stroke 0.5s linear;
  -moz-transition: stroke 0.5s linear;
}

.rotate-2 {
  stroke-width: 2px;
  stroke: #A7BFD3;
  -webkit-animation: rotation 50s infinite linear;
  transition: stroke 0.5s linear;
  -webkit-transition: stroke 0.5s linear;
  -moz-transition: stroke 0.5s linear;
}

@-webkit-keyframes rotation {
  to {
    stroke-dashoffset: 1000;
  }
}

.container-horizontal {
  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.container-vertical {
  width: 100%;
  padding: 0 40px 0 40px;
  opacity: 1;
  transition: linear;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.visual-element-1 {
  position: absolute;
  z-index: -1;
  left: -340px;
  top: 460px;
}

.visual-element-2 {
  position: absolute;
  z-index: -1;
  left: 1275px;
  top: -100px;
}

.main {
  width: 631px;
  height: 400px;
}

.additional {
  width: 467px;
}

.logo {
  width: 32px;
  fill: #A7BFD3;
}

.extras {
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #A7BFD3;
}

.extras p {
  margin: 0;
  line-height: 1;
  color: #A7BFD3;
}

.heading-1 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 64px;
  margin: 32px 0 0 16px;
}

.body-1 {
  font-family: Roboto;
  font-weight: 400;
  margin: 24px 0 0 64px;
  font-size: 18px;
  line-height: 28px;
}

span {
  font-weight: 900;
}

.links {
  margin: 24px 0 0 64px;
  display: flex;
}

.links a {
  font-weight: 400;
  font-size: 18px;
  color: #444E56;
}

.links a:nth-child(n+2) {
  margin-left: 40px;
}

.additional-section {
  margin-top: 20px;
  display: flex;
  font-weight: 300;
}

.additional-section>p {
  margin: 124px 0 8px 0;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  width: 24px;
  font-size: 14px;
  white-space: nowrap;
  color: #A7BFD3;
}

.accomplishments-info {
  width: 100%;
  height: 100%;
  padding: 0 0 0 40px;
}

.selected-projects-info {
  width: 100%;
  height: 100%;
  padding: 0 0 0 18px;
}

.accomplishments-info:before {
  display: block;
  position: absolute;
  content: '';
  background: #A7BFD3;
  height: 120px;
  width: 1px;
  margin-left: -41px;
}

.selected-projects-info:before {
  display: block;
  position: absolute;
  content: '';
  background: #A7BFD3;
  height: 120px;
  width: 1px;
  margin-left: -19px;
}

.add-first {
  margin: 20px 0 0 0;
}

.isuna .add-title-1 {
  margin: 0 0 0 8px;
}

.hubster .add-title-1 {
  margin: 0px 0 0 4px;
}

.third {
  margin: 16px 0 0 1px;
}

.btwa .add-title-1 {
  margin: 0 0 0 4px;
}

.add-title-1 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 32px;
}

.add-title-1 span {
  font-weight: 900;
  font-size: 12px;
}

.add-title-2 {
  font-family: Roboto;
  font-weight: 400;
  margin: 0 0 0 0;
  font-size: 18px;
}

.a-sub {
  font-family: Roboto;
  font-weight: 300;
  margin: 2px 0 0 0;
  font-size: 14px;
  line-height: 22px;
}

.selected-projects .a-sub {
  margin-left: 22px;
}

.accomplishments {
  margin-top: 96px;
}

.scroll {
  overflow: hidden;
  overflow-x: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.project {
  width: 100%;
  max-width: 1366px;
  height: fit-content;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background-color: white;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

.add-title-1:before {
  display: block;
  position: absolute;
  content: '';
  background: white;
  z-index: -1;
  top: 1px;
  left: 0;
  bottom: 1px;
  right: 437px;
  margin-left: -8px;
  transition: right 0.3s;
  transition-timing-function: ease-out;
}

.selected-projects-info div {
  cursor: pointer;
  position: relative;
  padding: 8px 0 8px 0;
  margin: 8px 0 0 0;
}

.selected-projects-info div:hover .add-title-1:before {
  right: 0;
}

.add-title-2:before {
  display: block;
  position: absolute;
  content: '';
  background: white;
  z-index: -1;
  top: 1px;
  left: 0;
  bottom: 1px;
  right: 437px;
  margin-left: -32px;
  transition: right 0.3s;
  transition-timing-function: ease-out;
}

.paper-arg {
  /* cursor: pointer; */
  padding: 8px 0 8px 0;
  margin: 8px 0 0 0;
  position: relative;
}

/* .paper-arg:hover .add-title-2:before {
  right: 0;
} */

.paper-usa {
  /* cursor: pointer; */
  position: relative;
  padding: 8px 0 8px 0;
}

/* .paper-usa:hover .add-title-2:before {
  right: 0;
} */

.book {
  /* cursor: pointer; */
  position: relative;
  padding: 8px 0 8px 0;
}

/* .book:hover .add-title-2:before {
  right: 0;
} */

.project-details {
  display: flex;
  flex-direction: column;
  position: sticky;
  margin-right: 8px;
  top: 72px;
  height: 0px;
  float: right;
}

.general-details {
  background-color: #F4FAFF;
  width: 220px;
  padding: 24px;
  border-radius: 8px;
  height: fit-content;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.general-details p {
  margin: 8px 0 0 0;
}

.team-details {
  margin-top: 16px;
  border-radius: 8px;
  width: 220px;
  padding: 24px;
  height: fit-content;
  background-color: #F4FAFF;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.team-member {
  position: relative;
  display: flex;
  margin-top: 8px;
}

.team-member:first-child {
  margin-top: 16px;
}

.team-member img {
  width: 32px;
  border-radius: 200px;
}

.team-member p {
  margin: 4px 0 4px 8px;
}

.team-member-details {
  position: absolute;
  z-index: 9999;
  top: 48px;
  left: -40px;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 4px 12px rgba(167, 191, 211, 0.24);
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.team-member-details:before {
  content: '';
  background-color: white;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  transform: rotate(45deg);
  position: absolute;
  top: -8px;
  left: 38px;
  z-index: -1;
}

.team-member-details:after {
  content: '';
  position: absolute;
  width: 80%;
  height: 100%;
  top: -54px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  z-index: -1;
}

.team-member-details p {
  width: 208px;
  margin: 0;
}

.team-member:hover .team-member-details {
  opacity: 1;
  pointer-events: all;
}

.team-member-details:hover {
  opacity: 1;
  pointer-events: all;
}
.team-member-icon{
  display: block;
  float: left;
  margin-top: 16px;
}

.project-details h3 {
  font-size: 14px;
  font-weight: 900;
  margin: 24px 0 0 0;
}

.project-details h3:first-child {
  margin: 0 0 0 0;
}

.project-details p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.exit {
  width: 24px;
  height: 24px;
  padding: 16px 16px 16px 16px;
  position: sticky;
  left: 90px;
  top: 72px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #F4FAFF;
  stroke: #A7BFD3;
  stroke-width: 2px;
}

.summary {
  list-style: none;
  font-size: 16px;
  height: 0px;
  margin: 0 0 0 0;
  line-height: 28px;
  font-weight: 300;
  position: sticky;
  top: 400px;
  padding: 0;
  float: left;
}

.summary a::before {
  content: "";
  height: 1px;
  background-color: #A7BFD3;
  display: inline-block;
  width: 16px;
  margin-right: 4px;
  margin-bottom: 5px;
  -webkit-transition: width 0.2s ease;
  -moz-transition: width 0.2s ease;
  -ms-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.summary a {
  text-decoration: none;
  color: #A7BFD3;
}

.project-content-container {
  width: 50%;
  margin: 0 auto;
}

.project-content-container h1 {
  font-size: 48px;
  margin: 48px 0 0 0;
  font-weight: 900;
}

.project-content-container h2 {
  font-size: 24px;
  margin: 48px 0 0 0;
  font-weight: 400;
}

.project-content-container p {
  font-size: 16px;
  margin: 12px 0 0 0;
  line-height: 28px;
  font-weight: 300;
}

.project-content-container:last-child {
  padding-bottom: 64px;
}

.project-content-container ul {
  list-style: none;
  background-color: #F4FAFF;
  padding-top: 8px;
  padding-bottom: 16px;
  padding-right: 24px;
  border-radius: 8px;
  font-size: 16px;
  margin: 16px 0 0 0;
  line-height: 28px;
  font-weight: 300;
}

.project-content-container ul li {
  margin-top: 8px;
}

.project-content-container ul li::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#isuna-map {
  width: 40%;
  display: block;
  margin: 40px auto 0 auto;
  position: relative;
  z-index: 9999;
}

#isuna-architecture {
  width: 60%;
  display: block;
  margin: 40px auto 0 auto;
  position: relative;
  z-index: 9999;
}

#isuna-branding {
  width: 50%;
  display: block;
  margin: 40px auto 0 auto;
  position: relative;
  z-index: 9999;
}

#isuna-screens {
  width: 60%;
  display: block;
  margin: 40px auto 0 auto;
  position: relative;
  z-index: 9999;
}

.overlay {
  position: fixed;
  z-index: 2;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.panel-1 {
  background-color: #A7BFD3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 25%;
  transition: linear;
}

.panel-2 {
  background-color: #A7BFD3;
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 25%;
  transition: linear;
}

.panel-3 {
  background-color: #A7BFD3;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 25%;
  transition: linear;
}

.panel-4 {
  background-color: #A7BFD3;
  position: absolute;
  top: 75%;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 25%;
  transition: linear;
}

.mobile-warning {
  background-color: #F4FAFF;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.mobile-warning h1 {
  margin: 0;
  font-size: 10vw;
}

.mobile-warning p {
  text-align: center;
  padding: 0 24px 0 24px;
  font-size: 6vw;
  line-height: 10vw;
}

.project-isuna {
  display: none;
}

.project-hubster {
  display: none;
}


/* Isuna project specific colors */

.project-isuna .summary a:hover {
  color: #FF708A;
}

.project-isuna .summary a:hover:before {
  background-color: #FF708A;
  width: 32px;
}

.project-isuna .active a {
  color: #FF708A;
}

.project-isuna .active a:before {
  background-color: #FF708A;
  width: 32px;
}

.project-isuna h2 {
  color: #FF708A;
}

.project-isuna .project-details h3 {
  color: #FF708A;
}

.project-isuna .project-details {
  border-color: #FF708A;
}


.project-isuna ul li:before {
  color: #FF708A;
}

.project-isuna span {
  color: #FF708A;
}


.project-isuna .exit:hover {
  background-color: #FF708A;
  stroke: white;
}

/* Hubster project specific colors */


.project-hubster .summary a:hover {
  color: #FE844C;
}

.project-hubster .summary a:hover:before {
  background-color: #FE844C;
  width: 32px;
}

.project-hubster .active a {
  color: #FE844C;
}

.project-hubster .active a:before {
  background-color: #FE844C;
  width: 32px;
}

.project-hubster h2 {
  color: #FE844C;
}

.project-hubster .project-details h3 {
  color: #FE844C;
}

.project-hubster .project-details {
  border-color: #FE844C;
}


.project-hubster ul li:before {
  color: #FE844C;
}

.project-hubster span {
  color: #FE844C;
}


.project-hubster .exit:hover {
  background-color: #FE844C;
  stroke: white;
}


@media only screen and (max-width: 1140px) {
  .mobile-warning {
    display: flex;
  }
}

@media not all and (min-resolution:.001dpcm) {
  @media {
    .exit {
      position: fixed;
    }
  }
}
