@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body {
  background-color: #F4FAFF;
  margin: 0;
  font-family: Roboto;
  overflow: hidden;
}

h1 {
  color: #444E56;
}

h2 {
  color: #444E56;
}

h3 {
  color: #444E56;
}

p {
  color: #444E56;
}

ul {
  color: #444E56;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F4FAFF;
  margin-top: 72px;
  margin-bottom: 72px;
}

.project-isuna ::-webkit-scrollbar-thumb {
  background: #A7BFD3;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F9467C;
}

.rotate-1 {
  stroke-width: 2px;
  stroke: #A7BFD3;
  -webkit-animation: rotation 40s infinite linear;
  transition: stroke 0.5s linear;
  -webkit-transition: stroke 0.5s linear;
  -moz-transition: stroke 0.5s linear;
}

.rotate-2 {
  stroke-width: 2px;
  stroke: #A7BFD3;
  -webkit-animation: rotation 50s infinite linear;
  transition: stroke 0.5s linear;
  -webkit-transition: stroke 0.5s linear;
  -moz-transition: stroke 0.5s linear;
}

@-webkit-keyframes rotation {
  to {
    stroke-dashoffset: 1000;
  }
}

.container-horizontal {
  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.container-vertical {
  width: 100%;
  padding: 0 40px 0 40px;
  opacity: 1;
  transition: linear;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.visual-element-1 {
  position: absolute;
  z-index: -1;
  left: -340px;
  top: 460px;
}

.visual-element-2 {
  position: absolute;
  z-index: -1;
  left: 1275px;
  top: -100px;
}

.main {
  width: 631px;
  height: 400px;
}

.additional {
  width: 467px;
}

.logo {
  width: 32px;
  fill: #A7BFD3;
}

.extras {
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #A7BFD3;
}

.extras p {
  margin: 0;
  line-height: 1;
  color: #A7BFD3;
}

.heading-1 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 64px;
  margin: 32px 0 0 16px;
}

.body-1 {
  font-family: Roboto;
  font-weight: 400;
  margin: 24px 0 0 64px;
  font-size: 18px;
  line-height: 24px;
}

span {
  font-weight: 900;
}

.links {
  margin: 24px 0 0 64px;
  display: flex;
}

.links a {
  font-weight: 400;
  font-size: 18px;
  color: #444E56;
}

.links a:nth-child(n+2) {
  margin-left: 40px;
}

.additional-section {
  margin-top: 20px;
  display: flex;
  font-weight: 300;
}

.additional-section>p {
  margin: 124px 0 8px 0;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  width: 24px;
  font-size: 14px;
  white-space: nowrap;
  color: #A7BFD3;
}

.accomplishments-info {
  width: 100%;
  height: 100%;
  padding: 0 0 0 40px;
}

.selected-projects-info {
  width: 100%;
  height: 100%;
  padding: 0 0 0 18px;
}

.accomplishments-info:before {
  display: block;
  position: absolute;
  content: '';
  background: #A7BFD3;
  height: 120px;
  width: 1px;
  margin-left: -41px;
}

.selected-projects-info:before {
  display: block;
  position: absolute;
  content: '';
  background: #A7BFD3;
  height: 120px;
  width: 1px;
  margin-left: -19px;
}

.add-first {
  margin: 20px 0 0 0;
}

.isuna .add-title-1 {
  margin: 0 0 0 8px;
}

.second {
  margin: 16px 0 0 4px;
  opacity: 24%;
}

.third {
  margin: 16px 0 0 1px;
  opacity: 24%;
}

.btwa .add-title-1 {
  margin: 0 0 0 4px;
  opacity: 24%;
}

.add-title-1 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 32px;
}

.add-title-1 span {
  font-weight: 900;
  font-size: 12px;
}

.add-title-2 {
  font-family: Roboto;
  font-weight: 400;
  margin: 0 0 0 0;
  font-size: 18px;
}

.a-sub {
  font-family: Roboto;
  font-weight: 300;
  margin: 2px 0 0 0;
  font-size: 14px;
  line-height: 20px;
}

.selected-projects .a-sub {
  margin-left: 22px;
}

.accomplishments {
  margin-top: 96px;
}

.project {
  width: 85%;
  max-width: 1480px;
  height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  background-color: white;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

.scroll {
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
}

.add-title-1:before {
  display: block;
  position: absolute;
  content: '';
  background: white;
  z-index: -1;
  top: 1px;
  left: 0;
  bottom: 1px;
  right: 437px;
  margin-left: -8px;
  transition: right 0.3s;
  transition-timing-function: ease-out;
}

.isuna {
  cursor: pointer;
  position: relative;
  padding: 8px 0 8px 0;
  margin: 8px 0 0 0;
}

.isuna:hover .add-title-1:before {
  right: 0;
}

.btwa {
  cursor: pointer;
  position: relative;
  padding: 8px 0 8px 0;
}

.btwa:hover .add-title-1:before {
  right: 0;
}

.add-title-2:before {
  display: block;
  position: absolute;
  content: '';
  background: white;
  z-index: -1;
  top: 1px;
  left: 0;
  bottom: 1px;
  right: 437px;
  margin-left: -32px;
  transition: right 0.3s;
  transition-timing-function: ease-out;
}

.paper-arg {
  cursor: pointer;
  padding: 8px 0 8px 0;
  margin: 8px 0 0 0;
  position: relative;
}

.paper-arg:hover .add-title-2:before {
  right: 0;
}

.paper-usa {
  cursor: pointer;
  position: relative;
  padding: 8px 0 8px 0;
}

.paper-usa:hover .add-title-2:before {
  right: 0;
}

.book {
  cursor: pointer;
  position: relative;
  padding: 8px 0 8px 0;
}

.book:hover .add-title-2:before {
  right: 0;
}

.project-header-container {
  width: 968px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 72px;
  padding-bottom: 24px;
  border-bottom: 1px solid;
  margin-bottom: 56px;
}

.project-isuna .project-header-container {
  border-color: #F9467C;
}

.project-title {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
}

.project-details {
  width: 30%;
}

.exit {
  width: 24px;
  height: 24px;
  padding: 16px 16px 16px 16px;
  position: absolute;
  left: 180px;
  top: 72px;
  cursor: pointer;
  background-color: white;
  stroke: #A7BFD3;
  stroke-width: 2px;
}

.project-title h1 {
  font-size: 48px;
  margin: 0 0 0 40px;
}

.project-isuna h2 {
  color: #F9467C;
}

.project-title h2 {
  font-size: 24px;
  margin: 32px 0 0 40px;
  font-weight: 400;
}

.project-title p {
  font-size: 16px;
  margin: 8px 0 0 40px;
  font-weight: 300;
  width: 63%;
  line-height: 26px;
}

.project-details {
  height: 360px;
  border-left: 1px solid;
}

.project-details h3 {
  font-size: 14px;
  font-weight: 400;
  margin: 16px 0 0 16px;
}

.project-details p {
  font-size: 14px;
  font-weight: 300;
  margin: 4px 0 4px 16px;
}

.project-isuna .project-details h3 {
  color: #F9467C;
}

.project-isuna .project-details {
  border-color: #F9467C;
}

.project-content-container {
  width: 50%;
  margin: 0 auto;
}

.project-content-container h2 {
  font-size: 24px;
  margin: 48px 0 0 0;
  font-weight: 400;
}

.project-content-container p {
  font-size: 16px;
  margin: 8px 0 0 0;
  line-height: 26px;
  font-weight: 300;
}

.project-content-container:last-child {
  padding-bottom: 64px;
}

ul {
  font-size: 16px;
  margin: 16px 0 0 0;
  line-height: 26px;
  font-weight: 300;
}

ul {
  list-style: none;
  background-color: #F4FAFF;
  padding-top: 8px;
  padding-bottom: 16px;
  padding-right: 24px;
  border-radius: 8px;
}

ul li {
  margin-top: 8px;
}

ul li::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.project-isuna ul li:before {
  color: #F9467C;
}

.project-isuna span {
  color: #F9467C;
}

#isuna-map {
  width: 40%;
  display: block;
  margin: 40px auto 0 auto;
}

#isuna-architecture {
  width: 60%;
  display: block;
  margin: 40px auto 0 auto;
}

#isuna-branding {
  width: 50%;
  display: block;
  margin: 40px auto 0 auto;
}

#isuna-screens {
  width: 80%;
  display: block;
  margin: 40px auto 0 auto;
}

.project-isuna .exit:hover {
  background-color: #F9467C;
  stroke: white;
}

.overlay {
  position: fixed;
  z-index: 2;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.panel-1 {
  background-color: #FF708A;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 25%;
  transition: linear;
}

.panel-2 {
  background-color: #FF708A;
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 25%;
  transition: linear;
}

.panel-3 {
  background-color: #FF708A;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 25%;
  transition: linear;
}

.panel-4 {
  background-color: #FF708A;
  position: absolute;
  top: 75%;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 25%;
  transition: linear;
}

.mobile-warning {
  background-color: #F4FAFF;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.mobile-warning h1 {
  margin: 0;
  font-size: 10vw;
}

.mobile-warning p {
  text-align: center;
  padding: 0 24px 0 24px;
  font-size: 6vw;
  line-height: 10vw;
}

@media only screen and (max-width: 1140px) {
  .mobile-warning {
    display: flex;
  }
}
